<?xml version="1.0" encoding="UTF-8"?>
<!-- configuration file for LogBack (slf4J implementation) See here for more 
	details: http://gordondickens.com/wordpress/2013/03/27/sawing-through-the-java-loggers/ -->
<configuration scan="true" scanPeriod="30 seconds">

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<!-- To enable JMX Management -->
	<jmxConfigurator />

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>log/pmg.log</file>

		<encoder>
			<pattern>
				%date %level [%thread] %logger{36} [%file:%line] %msg%n
			</pattern>
		</encoder>
	</appender>

	<!--<logger name="org.hibernate" level="debug"/> -->
	<!-- Uncomment and add your logger here: <logger name="org.springframework.samples.service.service" 
		level="debug"/> -->


	<logger name="org.springframework" level="warn" additivity="false">
		<appender-ref ref="FILE" />
	</logger>

	<logger name="com.myt.pmg" level="info" additivity="false">
		<appender-ref ref="FILE" />
	</logger>

	<root level="info">
		<appender-ref ref="FILE" />
	</root>
</configuration>
